<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dave.soul.exchange_app">

    <application
        android:name="com.dave.soul.exchange_app.app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeMaterial">

        <!-- MainActivity -->
        <activity
            android:name="com.dave.soul.exchange_app.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

                <!-- 카카오톡 링크를 사용하기 위한 설정 값 1 -->
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/kakao_scheme"
                    android:host="@string/kakaolink_host" />
            </intent-filter>
        </activity>
        
        <!-- service -->
        <service
            android:name="com.dave.soul.exchange_app.activity.AlarmService"
            android:enabled="true"
            >
        </service>
        <!--android:enabled="true"-->
        <!--android:process=":remote"-->

        <!-- SetCountryActivity -->
        <activity android:name="com.dave.soul.exchange_app.activity.SetCountryActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name="com.dave.soul.exchange_app.activity.SettingActivity"
            android:theme="@style/AppTheme.NoActionBar"/>


        <receiver
            android:name="com.dave.soul.exchange_app.activity.RestartService"
            android:enabled="true"
            android:exported="false"
            android:label="RestartService"
            android:process=":remote" >
            <intent-filter>
                <action android:name="ACTION.RESTART.AlarmService" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>


        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b9f858ffa35efde3250514c6e0f40c8c3b4397f0" />

        <!-- 카카오톡 링크를 사용하기 위한 설정 값 1 -->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_SERVICE" />

</manifest>